<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Nuestros Articulos</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Activo</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" 
                                style="text-align: right"></td>
                            <td th:text="${articulo.existencias}" 
                                style="text-align: center"></td>
                            <td style="text-align: center"><input type="checkbox" name="activo" 
                                                                  th:checked="${articulo.activo}" disabled="true"></td>
                            <td><a th:href="@{/articulo/eliminar/}+${articulo.idArticulo}">Eliminar</a></td>
                            <td><a th:href="@{/articulo/modificar/}+${articulo.idArticulo}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                No tenemos lista de articulos que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
