<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de Articulo</h2>
            <a th:href="@{/articulo/listado}">Regresar</a>
            <hr>
            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">
                
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>

                <label for="categoria">Categoria:</label>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria : ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}">
                </select>
                <br>
                <label for="descripcion">Descripción:</label>
                <input type="text" name="descripcion" th:field="*{descripcion}"/>
                <br>
                <label for="detalle">Detalle:</label>
                <textarea name="detalle" th:field="*{detalle}" rows="6" cols="50"/>
                <br>
                <label for="precio">Precio:</label>
                <input type="number" name="precio" th:field="*{precio}"/>
                <br>
                <label for="existencias">Existencias:</label>
                <input type="number" name="existencias" th:field="*{existencias}"/>
                <br>
                <label for="activo">Activo:</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <hr>
                <input type="submit" name="guardar" value="Guardar"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
