@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

.header{
    background-color: #6666ff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    line-height:20px;
    
}
th{
    font-weight: bold;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    justify-content: baseline;
    
 
}
.nav-link{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    
    
 
}
.logo{
    font-size: 35px;
    font-weight: normal;
    padding: 40px 40px;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    
}.logo2{
    font-size: 35px;
    font-weight: bold;
    padding: 15px 40px;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
p{
    font-size: 25px;
    font-weight: normal;
    padding: 5px 40px;

    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.nav-link{
    color: white;
    text-decoration: none;
    
}
img{
    border-radius: 50px;
    width: 50px;
}
table, th{
    border-style: none;
}
form{
 display: flex;
 flex-direction: column; 
 
}
form > div{
    margin: 15px;
    
}
input{
    border-radius: 5px;
    padding: 5px 50px;

    border-color: transparent;
}

label{
    font-size: 24px;
    
}
*{
    font-family: Edu SA Beginner;
}
footer {
    background-color: #6666ff;
    text-align:justify;
    color: white;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
.btn{
    background-color:#F36767;
    color: #F36767;
}
.div1{
    background-color: #B0C2F2;
    width: 95%;
    position: fixed;
    line-height: 20px;
    padding: 0 40px;
}
body{
    margin: 0;
    background-color: #E6ECFD;
}
li{
    text-align: right;
    margin-left: auto;
    margin-top: auto;
}


/*nav{
display:grid;
grid-template-columns: 1fr auto;
align-items: center;
background: aliceblue;
font-family: sans-serif;
position:fixed;
top:0;
width:100%;
}
nav .logo{
font-size: 24px;
font-weight:black;
}*/
nav .barnav{
display:grid;
grid-template-columns: repeat(4,auto);
margin-right: 30px;
}
nav .barnav div{
padding: 10px 20px;
}
nav .barnav div:hover{
cursor: pointer;
background:#CDDC39;
}
.contenido{
height: 1100px;
margin-top: 60px;
}
