<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        
        <link href="css/estilos_2.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu_1.css" rel="stylesheet" type="text/css"/>
        
          <link rel="stylesheet" 
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" 
              th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <header class="logo nav-link" th:replace="layout/plantilla :: header"/>

    <nav th:replace="layout/plantilla :: nav"/> 
        
      
        <div class="row">
            <aside>
                <h2> Aprendiendo A programar</h2>
                <p>¿Cual es nuestra misión? </p>
                    <p>Fácil, nosotros también hemos tenido nuestros inicios en la programación, 
                    por lo que sabemos lo frustrante y confuso que puede llegar a ser buscar videos para aprender por
                    cuenta propia, así que hemos decidido ayudarte, aquí podrás encontrar videos para desarrollar no solo 
                    tu lógica, 
                    si no, para expandir tu conocimiento en distintos lenguajes de programación y en distintas tecnologías.  </p>
            </aside>
            <section>
                <h2>No te rindas</h2>

                <article>
                <figure >
                    
                    
                   
                    <img src="../static/images/phpCode.png" alt="imagen corazón" width="512" height="512" border="2"/>
                   
                    
                </figure>
                 </article>  
            </section>
        </div>    


        <footer>
            <a2 th:replace="layout/plantilla :: footer"/></a2>
        </footer>
        

    </body>
</html>